#!/bin/sh

riverctl rule-add ssd

# Make all views with an app-id that starts with "float" and title "foo" start floating.
riverctl rule-add -app-id 'float*' -title 'foo' float

# Make all views with app-id "bar" and any title use client-side decorations
riverctl rule-add -app-id '*' ssd
riverctl rule-add -app-id "bar" csd

riverctl rule-add -app-id zen tags 1
