spawn-at-startup "bash" "-c" "systemctl --user import-environment WAYLAND_DISPLAY XDG_CURRENT_DESKTOP XDG_SESSION_TYPE && dbus-update-activation-environment --systemd WAYLAND_DISPLAY XDG_CURRENT_DESKTOP XDG_SESSION_TYPE"
spawn-at-startup "waybar"
spawn-at-startup "mako"
spawn-at-startup "copyq"
spawn-at-startup "blueman-applet"
spawn-at-startup "swww-daemon"
// spawn-at-startup "bash" "-c" "swaybg -i /home/thatmagicalcat/Wallpaper/greymountain.png"
spawn-at-startup "bash" "-c" "swaybg -i /home/thatmagicalcat/Wallpaper/blueocean.png"
spawn-at-startup "kitty" "--start-as=hidden" "--single-instance"
// spawn-at-startup "alacritty" "--daemon"
spawn-at-startup "kdeconnectd"
spawn-at-startup "kdeconnect-indicator"
