spawn-at-startup "waybar"
spawn-at-startup "mako"
spawn-at-startup "swww-daemon"
spawn-at-startup "bash" "-c" "swaybg -i /home/thatmagicalcat/Wallpaper/cloud-resize-blur.png"
spawn-at-startup "kitty" "--start-as=hidden" "--single-instance"
// spawn-at-startup "alacritty" "--daemon"
spawn-at-startup "kdeconnectd"
spawn-at-startup "kdeconnect-indicator"
